@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #141414;
  --card-color: #171717;
  --text: #fff;
  --light-text: #ccc;
  --dark-text: #333;
  /* Top */
  --primaryButton: hsl(155, 100%, 65%);
  --primaryButtonBg: hsla(155, 100%, 65%, 1%);
  --primaryButtonHi: hsla(155, 100%, 75%, 25%);
  --primaryButtonFg: hsl(155, 100%, 85%);
  --secondaryButton: hsl(156, 51%, 14%);
  --secondaryButtonFg: hsl(156, 51%, 75%);
  --secondaryButtonBg: hsla(156, 51%, 14%, 5%);
  --secondaryButtonHi: hsla(156, 51%, 30%, 50%);
  --accentBg: hsla(155, 100%, 94%, 1%);
  --accentHi: hsla(155, 100%, 100%, 25%);
}

body {
  background-color: var(--bg-color);
}

section {
  font-weight: 400;
  color: var(--text);
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.grid {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: -1;
}

.grid-svg {
  height: 80%;
  width: 80%;
  position: relative;
  z-index: 1;
}

.blur {
  height: 12rem;
  width: 12rem;
  background-color: var(--primaryButton);
  filter: blur(100px);
  border-radius: 100px;
  z-index: 0;
  position: absolute;
}

.title {
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: -0.2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-self: center;
  height: 100%;
  z-index: 1000;
}

.title > p {
  margin: 0;
  line-height: 10rem;
  width: auto;
}

.title > p:nth-child(1) {
  align-self: flex-start;
}

.title > p:nth-child(2) {
  color: var(--primaryButton);
  align-self: flex-end;
}

.title > p:nth-child(3) {
  align-self: flex-end;
}

.material-icons {
  display: none;
  fill: var(--text);
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: 50px;
  width: 160px;
  z-index: 9999;
}

button {
  height: 50px;
  width: 160px;
  clip-path: path(
    "M 0 25 C 0 -5, -5 0, 80 0 S 160 -5, 160 25, 165 50 80 50, 0 55, 0 25"
  );
  border: none;
  border-radius: 13px;
  background-color: var(--primaryButtonBg);
  box-shadow: 0px -3px 15px 0px var(--primaryButtonHi) inset;
  color: var(--primaryButtonFg);
  font-family: "Manrope";
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

.button > span {
  width: 100px;
  height: 60px;
  background-color: var(--primaryButtonHi);
  border-radius: 100%;
  filter: blur(20px);
  position: absolute;
  bottom: -50%;
  transition: all 0.2s ease;
}

.button:hover > span {
  opacity: 60%;
}

.button:hover > button {
  transform: translateY(5px);
}

.button.first {
  top: 12%;
  right: 15%;
}

.button.sec {
  bottom: 13%;
  right: 11%;
}

.button.sec > button {
  background-color: var(--accentBg);
  box-shadow: 0px -3px 15px 0px var(--accentHi) inset;
  color: var(--accentFg);
}

.button.sec > span {
  background-color: var(--accentHi);
}

.button.third {
  bottom: 25%;
  left: 15%;
}

.button.third > button {
  background-color: var(--secondaryButtonBg);
  box-shadow: 0px -3px 15px 0px var(--secondaryButton) inset;
  color: var(--secondaryButtonFg);
}

.button.third > span {
  background-color: var(--secondaryButtonHi);
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 50%;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 50%;
}

.container-chevron {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  z-index: 10;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  margin-top: -20px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

#cards {
  position: relative;
  padding-bottom: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 4px;
  max-width: 916px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card-container {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 100px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
h3,
h4,
span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

h2.status {
  font-size: 1em;
  font-weight: 200;
  color: #f00;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: 0px 20px;
}

.card-info {
  display: flex;
  gap: 10px;
}

.card-info-title h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

.imgBx {
  position: absolute;
  right: 15px;
  width: 50px;
}

.imgBx img {
  width: 100%;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: var(--bg-color);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  z-index: -1;
}

footer .container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

footer .container .sec h2 {
  position: relative;
  color: var(--text);
  font-weight: 600;
  margin-bottom: 15px;
}

footer .container .sec p {
  color: var(--light-text);
}

footer .container .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

footer .container .sci li {
  list-style: none;
}

footer .container .sci li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: var(--text);
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
}

footer .container .sci li a i {
  color: var(--card-color);
  font-size: 20px;
}

footer .container .quicklinks {
  position: relative;
}

footer .container .quicklinks ul li {
  list-style: none;
}

footer .container .quicklinks ul li a {
  color: var(--light-text);
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .container .contact .info {
  position: relative;
}

footer .container .contact .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

footer .container .contact .info li span {
  color: var(--light-text);
  font-size: 20px;
}

footer .container .contact .info li a {
  color: var(--light-text);
  text-decoration: none;
}

.copyrightText {
  position: relative;
  top: 0px;
  width: 100%;
  background: var(--bg-color);
  padding: 20px 100px 30px;
  text-align: center;
  color: var(--text);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

a.best {
  background: linear-gradient(45deg, #0ce36a, #69007f, #fc0987);
}

a.best::after {
  content: " ";
  background: linear-gradient(45deg, #0ce36a, #69007f, #fc0987);
  transition: 0.5s;
}

a.best:hover::after {
  filter: blur(20px);
}

a.no {
  background: #f00;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
  body {
    align-items: flex-start;
    overflow: auto;
  }

  .title {
    font-size: 4rem;
  }

  .title > p {
    line-height: 5rem;
    letter-spacing: -0.3rem;
  }

  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(50% - 4px);
  }

  footer {
    padding: 40px;
  }

  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .copyrightText {
    padding: 20px 40px 30px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100%;
  }

  footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
