.container .content {
  flex: 1;
  min-width: 0;
}

.container video {
  flex-shrink: 0;
  flex-basis: 40%;

  width: 100%;
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.container ul {
  list-style: square;
  padding: 0 20px;
}

.container ul li {
  color: #508364;
}

.poster {
  position: relative;

  clip-path: polygon(
    0 25px,
    5% 15px,
    10% 25px,
    15% 15px,
    20% 25px,
    25% 15px,
    30% 25px,
    35% 15px,
    40% 25px,
    45% 15px,
    50% 25px,
    55% 15px,
    60% 25px,
    65% 15px,
    70% 25px,
    75% 15px,
    80% 25px,
    85% 15px,
    90% 25px,
    95% 15px,
    100% 25px,
    100% calc(100% - 25px),
    95% calc(100% - 15px),
    90% calc(100% - 25px),
    85% calc(100% - 15px),
    80% calc(100% - 25px),
    75% calc(100% - 15px),
    70% calc(100% - 25px),
    65% calc(100% - 15px),
    60% calc(100% - 25px),
    55% calc(100% - 15px),
    50% calc(100% - 25px),
    45% calc(100% - 15px),
    40% calc(100% - 25px),
    35% calc(100% - 15px),
    30% calc(100% - 25px),
    25% calc(100% - 15px),
    20% calc(100% - 25px),
    15% calc(100% - 15px),
    10% calc(100% - 25px),
    5% calc(100% - 15px),
    0 calc(100% - 25px)
  );
}

.poster .content {
  position: relative;
  padding: 40px 20px;
  background: #fff;

  h4,
  p {
    margin: 0;
    color: var(--base-clr);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container video {
    max-width: 100%;
  }
}
