/* === TABS CSS === */
.tabs {
  display: flex;
  position: relative;
  justify-self: center;
  background-color: var(--muted-1);
  box-shadow: 0 0 1px 0 rgba(var(--accent), 0.15),
    0 6px 12px 0 rgba(var(--accent), 0.15);
  padding: 0.75rem;
  border-radius: 99px;
  max-width: max-content;
  * {
    z-index: 2;
  }

  svg{
    padding-right: 0.25em;
  }
}

input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.75rem;
  border-radius: 50%;
  background-color: var(--accent);
  transition: 0.15s ease-in;
}
input[type="radio"]:checked + label {
	 color: var(--fg);
}
 input[type="radio"]:checked + label > .notification {
	 background-color: var(--muted-2);
	 color: var(--fg);
}
 input[id="radio-1"]:checked ~ .glider {
	 transform: translateX(0);
}
 input[id="radio-2"]:checked ~ .glider {
	 transform: translateX(100%);
}
 input[id="radio-3"]:checked ~ .glider {
	 transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: var(--bg);
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

#content-container {
  display: flex;
  padding: 20px;
  min-height: 400px;
  align-items: center;
  justify-content: center;
}

.content-section {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* DEVLOG CSS */
.card {
  border: 1px solid var(--muted-2);
  border-radius: 1em;
  margin-bottom: 1em;
  width: min(500px, 80vw);
}

.card .info {
  display: flex;
  padding-top: 1em;
}

.card .info .imgBx {
  height: 60px;
  width: 60px;
  padding: 0 1em;
}

.card .info .imgBx img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
}

.card .info .content h3 {
  font-weight: 200;

  span {
    font-weight: 700;
  }
}

.card .details {
  padding: 10px;
  border-top: 1px solid var(--line-clr);
}

.card .details .imgBx {
  margin-top: 1em;
}

.card .details .imgBx img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .actions {
  display: flex;

  button {
    height: 40px;
    background: var(--bg);
    color: var(--fg);
    flex: 1;
  }

  button:first-child {
    border-bottom-left-radius: 1em;
  }
  button:last-child {
    border-bottom-right-radius: 1em;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card-container .card {
  width: 250px;
  flex: 1 1 250px;
  border: 1px solid var(--line-clr);
  border-radius: 1rem;
}

.card-container .card .imgBx {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 0 auto 1rem;
}

.card-container .card .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-container .card .imgBx img:hover {
  transform: scale(1.2);
}

.card-container .card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container .card .header button {
  background: var(--bg);
  color: var(--fg);
  padding: 0.25em 2em;
}

.card-container .card .content {
  padding: 1rem;
}
