@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body{
    overflow: hidden;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #0e0e0e;
}

section .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section .container h2{
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #222;
    font-size: 5em;
    line-height: 0.9em;
    letter-spacing: 4px;
}

section .container h2 span:hover{
    position: relative;
    z-index: 1;
    color: #fff;
}